@import "../../external/bootstrap/less/bootstrap.less";

#main-menu {
	ul {
		margin: 0;
	}
	li {
		list-style: none;
		padding: 4%;
	}
}

#content {
	padding: 4% 0 4% 0;
}

footer {
	text-align: center;
}