extends template/base
block content
  .contact
    .contact-info
      p Teléfono: 981 29 22 64
      p
        img(src="img/gmail.png" alt="Envianos un email" height="22" width="22" style="margin-right: 4px;")
        a(href="mailto:tienda@merceria-nacar.es",target="blank") tienda@merceria-nacar.es
      p
        img(src="img/twitter.png" alt="Síguenos en twitter" height="22" width="22")
        a(target="blank",href="https://twitter.com/nacarcoruna") twitter.com/nacarcoruna
      p
        img(src="img/facebook.png" alt="Síguenos en facebook" height="22" width="22" style="margin-right: 4px;")
        a(target="blank",href="https://facebook.com/nacarcoruna") facebook.com/nacarcoruna

      p
        img(src="img/instagram.png" alt="Síguenos en twitter" height="22" width="22" style="margin-right: 4px;")
        a(target="blank",href="https://www.instagram.com/mercerianacarcoruna") instagram.com/mercerianacarcoruna
    .facebook-form
      iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnacarcoruna%2F&tabs=messages&width=340&height=340&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="340" height="340" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
