extends base
block content
  .row-fluid
    .span8
      p#info Mercería Nácar abre sus puertas en A Coruña en 1996 con la intención de traer un aire fresco a la mercería clásica. Nuestro principal objetivo es asesorar y orientar de manera personalizada y ofrecer en cada momento la máxima calidad al mejor precio.
      img(src="img/gallery/01.jpg")
    .span4
      a(class="twitter-timeline",href="https://twitter.com/nacarcoruna",data-widget-id="305716725939314688") Tweets by @nacarcoruna
      script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");