!!! 5
html
  head
    meta(http-equiv="Content-type",content="text/html;charset=UTF-8")
    link(rel="stylesheet",type="text/css",href="nacar.css",media="screen")
    title Mercería Nácar
  body
    .container-fluid
      header
        block header
      .row-fluid
        nav.span3#main-menu
          block menu
        .span9#content
          block content
      footer
        block footer
