extends template/base
block title
  title Mercería Nácar - Donde encontrarnos
block description
  meta(name="description" content="Av. Oza 137 15006 (A Coruña) Tel: 981292264")
block content
  .location
    .map
      iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29827.513256442107!2d-8.390159!3d43.352841!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2b1c68216dafc494!2zTWVyY2Vyw61hIE7DoWNhcg!5e1!3m2!1ses!2sus!4v1482951492989" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
    .contact-info
      p Nos encontramos en Avenida de Oza 137, 15006 A Coruña.
      div
        span Nuestro horario es
        ul
          li De lunes a viernes:
            ul
              li Mañanas: 9:30 - 14:00
              li Tardes: 17:00 - 20:30
          li Sábados:
            ul
              li Mañanas: 10:00 - 14:00
