extends template/base
block title
  title Mercería Nácar - Novedades
block content
  .news
    div.facebook
      iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnacarcoruna%2F&tabs=timeline&width=340&height=700&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="340" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
    div.gallery
      div.gallery-row
        div.img-wrapper
          img(src="img/gallery/diademas.jpg")
        div.img-wrapper
          img(src="img/gallery/paw_patrol.jpg")
      div.gallery-row
        div.img-wrapper
          img(src="img/gallery/escaparate_1.jpg")
        div.img-wrapper
          img(src="img/gallery/escaparate_2.jpg")
