extends layout
block header
  a(href="/")
    img.logo(src="img/logo.svg" alt="Logo")

block menu
  ul
    li
      a(href="novedades") Novedades
    li
      a(href="productos") Productos
    li
      a(href="localizacion") Dónde encontrarnos
    li
      a(href="contacto") Contacta con nosotros
block footer
  p Mercería Nácar - Avenida de Oza 137 (15006 - A Coruña) Tel. 981 292 264
