extends layout
block header
  a(href="index.html")
    img.logo(src="img/logo.svg" alt="Logo")

block menu
  ul
    li
      a(href="news.html") Novedades
    li
      a(href="productos.html") Productos
    li
      a(href="location.html") Dónde encontrarnos
    li
      a(href="contact.html") Contacta con nosotros
block footer
  p Mercería Nácar - Avenida de Oza 137 (15006 - A Coruña) Tel. 981 292 264
