doctype html
html
  head
    meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
    meta(name="theme-color" content="#175829")
    link(rel="icon" sizes="192x192" href="img/daisy.png")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet" type="text/css" href="nacar.css" media="screen")
    title Mercería Nácar
  body
    header
      block header
    div#content
      nav
        block menu
      section
        block content
    footer
      block footer
