extends layout
block menu
	ul
		li
			a(href="index.html")
				img(src="img/logo.png",alt="Logo")
		li
			a(href="productos.html") Productos
		li
			a(href="contacto.html") Dónde encontrarnos
block footer
	p Mercería Nácar - Avenida General Sanjurjo 203-205 (15006 - A Coruña) Tel. 981 292 264