!!! 5
html
	head
		meta(http-equiv="Content-type",content="text/html;charset=UTF-8")

	body
		.container-fluid
			.row-fluid
				nav.span2
					block menu
				.span10
					block content
		footer
			block footer