extends base
block content
	ul
		li Pijamas y batas: Marie Claire, Kukuxumusu, Dormen, Promise, Gisela, Assman, Aralia.
		li Sujetadores: Selmark, Gisela, Promise, Evelyn, Fig Fort, Ory, Naturana.
		li Medias y pantys: Cherie, Golden Lady, Platino.
		li Calzoncillos, slips y boxers: Fello, Abanderado, Pierre Cardin.
		li Ropa interior: Avet, Intimidea, Rapife, Uros, Joven María.
		li Calcetines: Cherie-Onne, Punto Blanco, Orion.
		li Bañadores: Evelyn, Naturana, Cocoa.
		li Artículos de pelo y complementos: Accesorios para broches, collares, diademas, orquillas, pinzas.
		li Mercería: Cintas, hilos, puntillas, gomas, pasamanerías, botones, cremalleras, servicio de forrado de botones y de broches a presión.